mixed-port: 7890
allow-lan: true
mode: rule
log-level: info

tun:
  enable: true
  stack: system
  auto-route: true
  auto-detect-interface: true
  dns-hijack:
    - 198.18.0.2:53

dns:
  enable: true
  listen: 0.0.0.0:53
  ipv6: false
  enhanced-mode: fake-ip
  nameserver:
    - 1.1.1.1
    - 8.8.8.8
  fallback:
    - tls://1.1.1.1
    - tls://dns.google
  fallback-filter:
    geoip: true
    geoip-code: US

proxy-providers:
  main:
    type: file
    path: C:\Users\g0shark\Documents\ObhodBApp\configs\main.yaml

proxy-groups:
  - name: "PROXY"
    type: select
    use:
      - main

rule-providers:
  my_rules:
    type: file
    path: C:\Users\g0shark\Documents\ObhodBApp\rules.yaml
    behavior: classical

rules:
  - RULE-SET,my_rules,PROXY
  - MATCH,DIRECT